<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming Dice</title>
  <link rel="stylesheet" type='text/css' href="/public/css/style.css">
</head>
<body>
  <ul class="nav">
    <li><a href="/">Gaming Dice</a></li>
    <li><a href="/subpage1">Types of Dice</a></li>
    <li><a href="/subpage2">Favorite Dice</a></li>
    <li><a href="/subpage3">Dice for Games</a></li>
    <li><a href="https://wyrmwoodgaming.com/product-category/products/dice/" target="_blank">Buy Dice</a></li>
    <li class="right"><a href="" download="/public/file/testimonial1.jpg">Download</a></li>
  </ul>
  <div class="content">
    {{{body}}}
  </div>
</body>
</html>