<div class = "carouselWrapper">
  <div class="carousel">
    <div class="carouselItem">
      <img src="/public/img/testimonial1.jpg" alt="Elise">
    </div>
    <div class="carouselItem">
      <img src="/public/img/testimonial2.jpg" alt="Elise">
    </div>
    <div class="carouselItem">
      <img src="/public/img/testimonial3.jpg" alt="Elise">
    </div>
  </div>
  <span class="btn prev">&lt;</span>
  <span class="btn next">&gt;</span>
</div>
<script type="text/javascript" src="/public/js/carousel.js"></script>