<h1>Gaming Dice</h1>
<div class = "carouselWrapper">
  <div class="carousel">
    <div class="carouselItem">
      <img src="/public/img/dice_group_1.png" alt="A flock of dice">
    </div>
    <div class="carouselItem">
      <img src="/public/img/dice_group_2.png" alt="A bunch of dice">
    </div>
    <div class="carouselItem">
      <img src="/public/img/dice_group_3.png" alt="A group of dice">
    </div>
  </div>
  <span class="btn prev">&lt;</span>
  <span class="btn next">&gt;</span>
</div>
<script type="text/javascript" src="/public/js/carousel.js"></script>