<div class="scrolly">
  <ul>
    <li>
      <p>D20</p>
      <img src="/public/img/pexels-armando-are-3649095.png"></img>
    </li>
    <li>
      <p>D8</p>
      <img src="/public/img/pexels-armando-are-3649095.png"></img>
    </li>
    <li>
      <p>D10</p>
      <img src="/public/img/pexels-armando-are-3649095.png"></img>
    </li>
    <li>
      <p>D8</p>
      <img src="/public/img/pexels-armando-are-3649095.png"></img>
    </li>
    <li>
      <p>D6</p>
      <img src="/public/img/pexels-armando-are-3649095.png"></img>
    </li>
    <li>
      <p>D4</p>
      <img src="/public/img/pexels-armando-are-3649095.png"></img>
    </li>
  </ul>
</div>
