<h1>Dice for Games</h1>
<ul>
  <li>Dungeons & Dragons: Commonly uses D20, D10, D8, and D6</li>
  <li>Monopoly: Uses D6</li>
  <li>Hero Kids RPG: Uses D6</li>
  <li>Crimson Skies: Uses D10</li>
  <li>Crimson Skies: Uses D12</li>
</ul>