<h1>Types of Dice</h1>
<div class="scrolly">
  <ul>
    <li>
      <p>D20</p>
      <img src="/public/img/d20_image.jpeg"></img>
    </li>
    <li>
      <p>D12</p>
      <img src="/public/img/d12_image.jpeg"></img>
    </li>
    <li>
      <p>D10</p>
      <img src="/public/img/d10_image.jpeg"></img>
    </li>
    <li>
      <p>D8</p>
      <img src="/public/img/d8_image.jpeg"></img>
    </li>
    <li>
      <p>D6</p>
      <img src="/public/img/d6_image.jpeg"></img>
    </li>
    <li>
      <p>D4</p>
      <img src="/public/img/d4_image.jpeg"></img>
    </li>
  </ul>
</div>
